/* CSS */

/* THIS IS HOW YOU COMMENT IN CSS */

/*What elements are you styling on your html page*/
selector {
    /*actual style changes lives inside curly brackets*/
    property: value
/*property: what about the eleent you want to change*/
/*value: what you want to change about the property    */

/*property and value seperated by colon*/
/*  end every decleration with a semicolon  */
}


h1{
    color: red;
    font-size: 30px;
    border: 2px dotted black;
}